<!DOCTYPE html>
<html lang="en" ng-app="myPracticeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice Angular Starships</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body ng-controller="mainCtrl">
    <!--<h1>{{count}}</h1>-->
    <button ng-click="Next()">Next</button>
    <div>
      <h2>Star Wars Ships</h2>
      {{starships[current].name}}  
    </div>
    <button ng-click="Prev()">Prev</button>
    <input type="search"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="app.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="mainService.js"></script>
</body>
</html>